<h2>Clients page</h2>
<p>Имя: <%= @clients.name %></p>
<p>Телефон: <%= @clients.phone %></p>
<p>Дата записи: <%= @clients.datestamp %></p>
<p>Парикмахер: <%= @clients.barber %></p>
<p>Цвет: <%= @clients.color %></p>
